@import "tailwindcss";

@font-face {
    font-family: 'Proxima Nova ';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNovaT-Thin.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNovaT-Thin.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-ThinIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-ThinIt.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-Light.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-Light.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-LightIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-LightIt.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-RegularIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-RegularIt.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-SemiboldIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-SemiboldIt.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-BoldIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-BoldIt.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-Extrabld.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-Extrabld.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-ExtrabldIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-ExtrabldIt.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-Black.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-Black.woff") format("woff");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/proxima-nova/ProximaNova-BlackIt.woff2") format("woff2"),
    url("../fonts/proxima-nova/ProximaNova-BlackIt.woff") format("woff");
}

:root {
    --color-primary: rgba(61, 58, 58, 1);
    --color-secondary: rgba(77, 162, 214, 1);
    --color-green: rgba(92, 204, 129, 1);
    --color-gray: rgba(166, 172, 179, 1);
    --color-white: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(1px)
    }
}

/* EmailAutocompleteInput autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: black;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input, select, textarea {
        font-size: 16px !important; /* Обещание Safari: без масштабирования! */
    }
}

html, body, #root {
    min-height: 100vh;
    scrollbar-gutter: stable;
}

body {
    font-family: Proxima Nova, sans-serif;
    font-weight: 400;
    background: url("../img/bg.png") center center/cover no-repeat fixed;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    background-color: white;
    width: 100%;
    height: fit-content;
}

input:focus-visible {
    outline: none;
}

button:focus-visible {
    outline: none;
}

@media (min-width: 48rem ) {
    #root {
        padding: 4rem;
    }
}
